<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ block "head" . }}
    {{ end }}

    <title>
    {{ block "title" . }}
      txtshare
    {{ end }}
    </title>
  </head>

  <body>
    {{ block "content" . }}
    {{ end }}
  </body>
</html>
