{{ define "content" }}
<main>
  <h1>txtshare</h1>

  <h3>Write your text below</h3>

  <form action="/share" method="post">
    <textarea name="text" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">Share!</button>
  </form>
</main>
{{ end }}
