{{ define "title" }}share - txtshare{{ end }}

{{ define "content" }}
<h2>Text successfully shared!</h2>

<p>
You may read it now with this ID:
<a href="/read/{{ .Id }}" target="_blank" rel="noopener noreferrer">{{ .Id }}</a>
</p>

<p>
Or read the ID with a QR Code:
</p>
<img src="data:image/png;base64,{{ .QrCode }}" alt="QR Code of the shared text ID" />
{{ end }}
